PAYMOB_BASE_URL=https://accept.paymob.com
PAYMOB_CHECKOUT_URL=https://eg.checkout.paymob.com
PAYMOB_SECRET_KEY=
PAYMOB_PUBLIC_KEY=
PAYMOB_API_KEY=
PAYMOB_HMAC_SECRET=
PAYMOB_INTEGRATION_ID_CARD=
PAYMOB_AMOUNT_CENTS=9900
PAYMOB_CURRENCY=EGP
APP_URL=https://bdil-chi.vercel.app
DOWNLOAD_TOKEN_SECRET=
